body {
  background: #ddd;
  margin-left: 100px;
  margin-right: 100px;
}

div {
  position: relative;
}

h1, h2, h3, h4, p { 
  color: #191919;
  font-family: "Raleway";

}

h1 {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
}

p { 
  font-size: 14px;
  font-weight: 300;
  font-family: "Open Sans";
}

#chart, #block { 
  position: relative;
  width: 100%;
  height: 220px;
  top:20;
  left:0;
  overflow-x: scroll;
  margin-bottom: 20px;
}

.false { 
  color: #CC1100;
  font-weight: 700;
}

.true { 
  color: #068481;
  font-weight: 700;
}

.bold {
  font-style: italic !important;
}

.beta {
  text-decoration: underline;
}

.function { 
  font-family: "Source Code Pro" !important;
  font-weight: 700 !important;
}

li {
  list-style: none;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding-right: 10%;
  padding-bottom: 20px;
}


::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, .3); 
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

svg:not(:root) {
    overflow: visible;
}